header {
  width: 100vw;
  height: 80vh;
  color: var(--color-white);
  background-image: url("../assets/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .navbar {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .navbar-itm-mobile {
      display: none;
    }
  }

  .navbar-itm {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    li:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .main-header {
    width: 600px;
    margin: 7% 10%;
    padding: 1.7rem;
    font-size: 4rem;
    border: solid 2px var(--color-white);
    font-family: "Josefin Sans", sans-serif;
    line-height: 60px;

    p {
      margin: 0;
    }
  }

  .none {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  header {
    background-color: var(--color-black);
    background-size: cover;
    background-position: center center;

    .navbar {
      justify-content: space-between;

      .navbar-itm {
        display: none;
      }

      .mobile-menu {
        display: inline;
        background-color: transparent;
        border: none;

        #close {
          font-weight: 600;
        }
      }
    }

    .navbar-mobile {
      background-color: var(--color-black);
    }

    .navbar-mobile-container {
      width: 100vw;
      height: 80vh;
      background-color: var(--color-black);
      z-index: 1;

      .navbar-itm-mobile {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        gap: 20px;
        text-transform: uppercase;
      }
    }

    .main-header {
      width: 300px;
      font-size: 2rem;
      margin: 7rem auto;
    }
  }
}
