@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

.mainFooter{
    background-color: black;
    color: white;
    width: 100%;
    font-family: "Alata", sans-serif;
}
.footer1{
    .iconos{
        img{
            width: 30px;
            height: 30px;
        }
        display: flex;
        gap: 10px;
    }
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
}
.footer2{
    ul{
        padding: 0;
        list-style: none;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 3rem;
}