@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

.division {
  width: 100vw;
  margin: 7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}
.imagen {
  width: 50%;
  text-align: start;

  img {
    width: 100%;
  }
}
.texto {
  padding: 5rem;
  background-color: white;
  width: 40%;
  text-align: start;
  align-self: flex-end;
  transform: translateX(-100px);
}

@media screen and (max-width: 900px) {
  .division {
    width: 100vw;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imagen {
      width: 80vw;
      margin: 1rem;
    }

    .texto {
      width: 70%;
      margin: 1rem;
      padding: 0;
      transform: none;
      text-align: center;
      align-self: center;

      h2 {
        font-weight: 600;
      }
    }
  }
}
